<%- include('top-html'); -%>
<h1>Notas</h1>

<% if (notes.length === 0) { %>
<p><%= emptyMessage %></p>
<% } else { %>
<ul>
  <% notes.forEach((note) => { %>
  <li>
    <a href="/notes/<%=note.id%>"><%= note.content %></a>
    <div class="note-actions">
      <form action="/notes/<%=note.id%>/delete" method="post">
        <button>Eliminar</button>
      </form>
      <form action="/notes/<%=note.id%>/edit">
        <button>Editar</button>
      </form>
    </div>
  </li>
  <% }) %>
</ul>
<% } %>

<a href="/notes/new">Crear nueva nota</a>
<%- include('bottom-html'); -%>
